<div class="hm-gradient">
  <div class="container mt-4">
    <div class="container col-md-6 mb-6">
      <div class="card near-moon-gradient form-white">
        <div class="card-body">
          <i class="logotipo"></i>
          <!--Body-->
          <div class="input-group mb-3">
            <input
            value="172.16.238.16"
            class="form-control"
            placeholder="ex: 127.0.0.1"
            type="text"
            id="ip"
            [(ngModel)]="push.Ip"
            />
            <div class="input-group-append">
              <button type="button" id="socketio" class="btn btn-primary"  (click)="connect()">
                Conectar
              </button>
            </div>
          </div>
          <div class="md-form" >
            <i class="fa fa-lock prefix grey-text"></i>
            <input

              class="form-control"
              placeholder="ex: 8080"
              type="text" disabled="isConnect"
              id="port"
              [(ngModel)]="push.Port"
            />
            <label for="defaultForm-pass"></label>
          </div>
          <div class="md-form">
            <i class="fa fa-lock prefix grey-text"></i>
            <textarea disabled="isConnect"
              class="form-control"
              rows="10" cols="50"
              placeholder="ex: mensagem"
              type="text"
              id="message"
              height="450"
              [(ngModel)]="push.Message"
            >
            </textarea>
            <label for="defaultForm-pass"></label>
          </div>
          <div class="btn-group-vertica btn-group-justified">
            <div class="btn-group mr-2" role="group" aria-label="First group">
              <button disabled="isConnect" type="button" id="socketio" class="btn btn-primary"  (click)="onMessage()">
                Enviar Mensagem
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
